<div id="my-cv">
  <div class="left-column">
    <div class="hero cv-header">
      <h1>Cezar Berea</h1>
      <h2>web developer</h2>
    </div>

    <section class="bio">
      <h3>Bio</h3>
      <p>Some stuff about me</p>
    </section>


    <section class="experience">
      <h3>Experience</h3>
      <p>A little somethin' something' about my XP</p>
    </section>

    <section class="refferences">
      <h3>Refferences</h3>
      <ul>
        <li><a href="http://github.com/cezar.berea">Github</a></li>
        <li><a href="http://linkedin.com">LinkedIn</a></li>
      </ul>
    </section>
  </div>

  <div class="right-column">
    <section class="languages">
      <h3>Languages</h3>
      <ul class="skill-list">
        <li>Javascript</li>
        <li>Python</li>
        <li>Ruby</li>
      </ul>
    </section>
  </div>
</div>
